*, *::before, *::after {
    box-sizing: border-box;
}

.App-logo {
    height: 10vmin;
    pointer-events: none;
  }

body {
margin: 0;
background: linear-gradient(to left, white, cyan);
}

.calculator-grid{
    display: grid;
    margin: 2rem;
    justify-content: center;
    grid-template-rows: repeat(4, 6rem);
    grid-template-columns: minmax(7rem, auto) repeat(5, 6rem);
}

.calculator-grid > button{
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255,255,255,.75);
}

.calculator-grid > button:hover, .calculator-grid > button:focus{
    background-color: white;
}

.span-two {
    grid-column: span 1;
}

.output {
    grid-column:  1 / -1;
    background-color: rgba(0,0,0,.75);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: .75rem;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand {
    color: rgba(255,255,255,.75);
    font-size: 1.5rem;
}

.output .current-operand{
    color: white;
    font-size: 2.5rem;
}

.box{
    justify-content: center;
    display: flex;
    width: 20rem;
    height: 400px;
    margin: 0;
    padding: 1rem;
    background-color: white;
}

.box2{
    justify-content: center;
    display: flex;
    width: 20rem;
    height: 400px;
    margin: 0;
    padding: 1rem;
    background-color: black;
}

.box .first{
    color: cyan;
    font-size: 2.5rem;
}

.box2 .second{
    color: cyan;
    font-size: 2.5rem;
}
